// Default / Light styles
.wp-block-navigation,
.wp-block-navigation.is-style-light {
	.wp-block-navigation-link:not(.has-text-color) {
		color: $dark-gray-primary;
	}
	&:not(.has-background) .wp-block-navigation__container {
		background-color: $white;
	}
}

// Dark styles.
.wp-block-navigation.is-style-dark {
	.wp-block-navigation-link:not(.has-text-color) {
		color: $white;
	}
	&:not(.has-background) .wp-block-navigation__container {
		background-color: $dark-gray-primary;
	}
}

// Justification.
.items-justified-left > ul {
	justify-content: flex-start;
}

.items-justified-center > ul {
	justify-content: center;
}

.items-justified-right > ul {
	justify-content: flex-end;
}

.wp-block-navigation-placeholder__actions {
	display: flex;
	align-items: flex-start;

	.components-base-control {
		margin-right: 5px;
	}

	.components-select-control__input {
		margin: 0;
		min-height: 36px; // match button height
	}

	.wp-block-navigation-placeholder__button {
		height: 36px;
	}
}

.wp-block-navigation-placeholder {

	.components-spinner {
		margin-top: -4px;
		margin-left: 4px;
		vertical-align: middle;
		margin-right: 7px;
	}
	.components-custom-select-control__button {
		height: auto; // overide default button styles
		margin-bottom: 0; // cancel bottom margin
		min-width: 220px; // avoids control size jump depending on selection
	}

	// Styles for when there are Menus present in the dropdown.
	.components-custom-select-control.has-menus .components-custom-select-control__item {
		display: list-item; // remove flex to allow pseudo element to stack
		padding: 10px 25px;

		// Creates a faux divider between the menu options if present
		&.is-create-empty-option {
			position: relative; // positioning context for pseudo
			margin-top: 20px;

			&::before {
				content: "";
				position: absolute; // take out of flow to retain size of list item
				top: -10px;
				left: 25px; // match list item padding
				right: 25px; // match list item padding
				display: list-item;
				height: 15px;
				border-top: 1px solid $medium-gray-text;
			}
		}
	}

	.components-custom-select-control__menu {
		margin-top: 3px; // match gap in design
		font-family: $default-font;
		font-size: $default-font-size;
	}

}
